body {
  margin: 0;
  background-color: #f3f3f3;
  /* background-image: linear-gradient(to right, #09327f, #06183b); */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  overflow: hidden !important;
}

.custom-shape-divider-bottom-1707203134 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.disp-stu-adding {
  display: flex;
}
.wid-stu-adding {
  width: 33%;
}

@media (max-width: 991px) {
  .disp-stu-adding {
    display: flex;
    flex-direction: column;
  }
  .wid-stu-adding {
    width: 100%;
  }
  .addr {
    width: 100%;
  }
}

@media (max-width: 330px) {
  .inlin {
    display: flex;
    flex-direction: column;
  }
}

.custom-shape-divider-bottom-1707203134 svg {
  position: relative;
  display: block;
  width: calc(108% + 1.3px);
  height: 186px;
}

.custom-shape-divider-bottom-1707203134 .shape-fill {
  fill: #0f5ef7;
}

.d-bg {
  background: linear-gradient(to right, #0071f3, #73b4ff);
}

.bod-in {
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.bod-sin {
  border: 1px solid #9698d6;
}
.lab-txt {
  color: #9698d6;
}
.acc-det-bg {
  background:
    url(https://eskooly.com/bb/assets/bl.png) left bottom no-repeat,
    url(https://eskooly.com/bb/assets/tr1.png) top right no-repeat;
  background-size: 60px;
}
.bod-ip {
  width: 120px;
  height: 120px;
  border: 4px solid #9698d6;
  border-radius: 60px;
  margin: 0 auto;
  padding-top: 25px;
  background: #E6E9FF;
}
.mar-min {
  margin-top: -20px;
}

.bord {
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.max-w {
  /* max-width: 450px; */
  width: 23%;
}
.ww {
  width: 30px;
}

.bg-sms {
  background-image: linear-gradient(45deg, rgb(77, 76, 172), rgb(90, 89, 171));
}

.mar-sms {
  margin-top: -25px;
}

.bg-m-dblue {
  background: linear-gradient(45deg, #4d4cac, #5a59ab) !important;
}
.bg-m-orange {
  background: linear-gradient(45deg, #ff808b, #f79099) !important;
}

.bg-m-gray {
  background: linear-gradient(45deg, #9698d6, #a9abdb) !important;
}

.sideNav-shadow {
  box-shadow: 2.4px 0px #888888;
}

.text-gray {
  color: #9698d6;
}

/* * {
  margin: 0;
}

*::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.2);
}

*::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  width: 10px;
}

html {
  background-color: #fff;
  font-size: 14px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  margin: 0;
  height: 100vh;
  width: 100%;
  color: #4a4a4a;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  overflow: hidden !important;
}

.body {
  background-image: linear-gradient(to right, #09327f, #06183b);
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

a,
a:active,
i,
i:active,
div,
div:active,
div:focus,
span:focus,
span:active {
  outline: none !important;
}

a {
  color: #3273dc;
  cursor: pointer;
  text-decoration: none;
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

span {
  font-style: inherit;
  font-weight: inherit;
}
i {
  font-style: italic;
} */

/* .navbar-placeholder {
  z-index: 999;
  height: 64px;
}
.nav-placeholder {
  background-image: linear-gradient(to right, #09327f, #06183b);
  width: 100%;
  height: 4.6rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  transition: all 0.4s;
  transition-behavior: normal;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: all;
}
.navContainer {
  -ms-flex-align: stretch;
  align-items: stretch;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 3.25rem;
}
.navBrand {
  height: 60px;
  padding: 8px;
}
img {
  max-width: 100%;
}

.navbar > .container {
  -ms-flex-align: stretch;
  align-items: stretch;
  display: -ms-flexbox;
  display: flex;
  min-height: 3.25rem;
  width: 100%;
} */

/* .navbar {
  display: none;
} */

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
